<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.1/echarts.min.js"></script>
<div class="m-auto">

    <div class="container mx-auto p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <div class="bg-white p-4 rounded-lg shadow-md">
                <div id="pie-container" style="width: 100%; height: 400px;"></div>
            </div>

            <div class="bg-white p-4 rounded-lg shadow-md">
                <div id="line-container" style="width: 100%; height: 400px;"></div>
            </div>

            <div class="bg-white p-4 rounded-lg shadow-md">
                <div id="area-money-container" style="width: 100%; height: 400px;"></div>
            </div>

            <div class="bg-white p-4 rounded-lg shadow-md">
                <div id="area-users-container" style="width: 100%; height: 400px;"></div>
            </div>

        </div>
    </div>
</div>
